/* Estilo geral */

body{
    font-family: "Poppins", sans-serif;
    background-color: #191919;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

p{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    padding:  0 20px;
    margin: 10px auto;
}

.header-section{
    text-align: center;
    margin-bottom: 40px;
}

.title{
    font-size: 48px;
    font-weight: bold;
    color: #cccccc;
}

.subtitle{
    font-size: 20px;
    font-weight: normal;
    color: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.subtitle::after{
    content: "";
    width: 100px;
    height: 1px;
    background-color: #e500ce;
}

/* Estilo geral */

.info-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.info-menu{
    display: flex;
    align-items: center;
}

.menu ul{
    list-style: none;
    display: flex;
    padding: 0 10px;
}

.menu  ul li{
    margin-right: 20px;
}

.menu ul li a{
    text-decoration: none;
    color: #a7a7a7;
    transition: color 1s;
    font-size: 20px;
}

.menu ul li a:hover{
    color: #e500ce;
}
/* Seção apresetação */

#apresentation{
    margin: 100px 0;
}

.info-apresentation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-apresentation h1{
    font-size: 58px;
    color: #d9d9d9;
    line-height: 60px;
}

.info-apresentation h1 span{
    background: linear-gradient(
        90deg,
        rgba(26, 127, 243, 1) 0%,
        rgba(187,109, 214, 1) 35%,
        rgba(203, 36, 100, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #d9d9d9;
}

.profile-photo{
    width:350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: linear-gradient(
        100deg,
        rgba(203, 36, 100, 1) 0%,
        rgba(26, 171, 243, 1) 100%,
        rgba(187,109, 214, 1) 100%
    );
}
.profile-photo img{
    width: 335px;
}

/* Sobre mim */

.info-aboutme{
    font-size: 18px;
    color: #a7a7a7;
}

/* Tecnologia */

#tecnologies{
    margin: 100px 0;
}

.container-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0;
}

.container-icons img{
    filter: grayscale(0);
    transition: filter 0.5s;
}

.container-icons img:hover{
    cursor: pointer;
    filter: grayscale(100%);
}

/* Projetos*/

.info-projects{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.card-project{
    min-height: 600px;
    height: fit-content;
    background-color: #363636;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.info-card-project{
    padding: 28px;
}

.info-card-project h3{
    color: #cccccc;
    font-size: 28px;
    font-weight: normal;
}

.info-card-project p{
    color: #cccccc;
    font-size: 18px;
}

.legend-project p{
    color: #cccccc;
    font-size: 14px;
}


.legend-project p span{
    color: #cccccc;
    font-size: 14px;
    font-weight: bold;
}

.footer-project{
    display: flex;
    justify-content: space-between;    
}

.footer-project, .code-project{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-project a, .code-project a{
    color: #fff;
}

/* Depoimentos */

#testimonial{
    margin: 100px 0;
}

.info-testimonial{
    display: flex;
    flex-direction: column;
}

.container-testimonials{
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.controls-testimonials{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.prev-testimonial{
    border-radius: 15px;
    background-color: #f10677;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
}

.next-testimonial{
    border-radius: 15px;
    border: 1px solid #f10677;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
}

.disable{
   opacity: 0.8; 
   pointer-events: none;
   background-color: #f2f2f2;
   box-shadow: none;
   cursor: not-allowed;
}

.outline-card-testimonial{
    border: 1px solid #f10677;
    padding: 25px 20px;
    border-radius: 16px;
    height: 370px;
}

.outline-card-testimonial p{
    color: #FFFFFF50;
    margin-top: 10px;
}

.outline-card-testimonial::before{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(./assets/quotes.svg);
    background-size: cover;
}

.footer-card-testimonial{
    display: flex;
    align-items: center;
    gap: 17px;
    border-radius: 10px;
    margin-top: 20px;
}

.info-personal-testimonial{
    display: flex;
    flex-direction: column;
}

.name-testimonial{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.ocupation-testimonial{
    font-size: 18px;
    font-weight: bold;
    color: #7B4AE280;
}

.fill-card-testimonial{
    background-color: #f10677;
    border: 1px solid #f10677;
    padding: 25px 20px;
    border-radius: 16px;
    height: 370px;
}

.fill-card-testimonial p{
    color: #FFFFFF;
    margin-top: 10px;
}

.fill-card-testimonial::before{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(./assets/quotes-white.svg);
    background-size: cover;
}

.fill-card-testimonial .ocupation-testimonial{
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}